:root {
  /*fonts*/
  --main-font: "Roboto", sans-serif;
  --sekondary-font: "Raleway", sans-serif;
  /*fonts color*/
  --main-txt-cl: #212121;
  /*bg colors*/
  --light-br-color: #ffffff;
  --dark-br-color: #2f303a;
  --akcent-color: #2196f3;
  /*other*/
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  margin-right: 93px;
  font-family: var(--sekondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-cl {
  font-family: var(--sekondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--akcent-color);
}

img {
  display: block;
}

.name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-transform: uppercase;
  margin-bottom: 10px;
}

body {
  font-family: var(--main-font);
  margin-left: auto;
  margin-right: auto;
}
body.no-scroll {
  overflow: hidden;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: -1px;
  border-bottom: 1px solid #ececec;
  z-index: 100;
}
.header.no-transparency {
  background-color: #2e6088 rgb(47, 48, 58);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  gap: 50px;
}
.list-header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-header__link:hover, .list-header__link:focus {
  color: var(--akcent-color);
}

.list-header__link--carrent {
  position: relative;
  color: var(--akcent-color);
}
.list-header__link--carrent::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--akcent-color);
}

.nav__list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  gap: 50px;
}

.nav__link-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link-tel:hover, .nav__link-tel:focus {
  color: var(--akcent-color);
}

.nav__list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  gap: 50px;
}

.icons-media {
  fill: currentColor;
}

.hero {
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backroundimg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/backroundimg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  -webkit-animation: fade-in 250ms ease 250ms backwards alternate;
          animation: fade-in 250ms ease 250ms backwards alternate;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) scale(0.4);
            transform: translateX(-300px) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) scale(0.4);
            transform: translateX(-300px) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
.section.block {
  padding-bottom: 0%;
}

.link-card {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover, .link-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay-text {
  font-family: var(--main-font);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: #2196f3;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.img-portfolio {
  border-top: none;
  border-right: none;
}

.list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cards-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.name-progect {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: #212121;
}

.name-upps {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.about__adwantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__link-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
}

.name__action {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.img__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.img.img__avatar-text {
  position: relative;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.avatar__container {
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.team {
  margin-bottom: 16px;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.team-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.team-card__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__name-users {
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team__link-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
}

.team__link-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0ch;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partner__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  min-width: 170px;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner__logotype:hover, .partner__logotype:focus {
  fill: var(--akcent-color);
  border: 1px solid var(--akcent-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.plase {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 9px;
}

.link-tel-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-tel-foot:not(:last-child) {
  margin-bottom: 9px;
}
.link-tel-foot:last-child {
  margin-bottom: 0;
}
.link-tel-foot:hover, .link-tel-foot:focus {
  color: var(--akcent-color);
}

.logo-bl {
  display: block;
  font-family: var(--sekondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-name {
  padding-top: 13px;
  padding-bottom: 20px;
}

.footer-icons {
  padding-top: 12px;
  margin-right: 93px;
  margin-left: 70px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-icon-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ft-icon {
  fill: #ffffff;
}

.footer-icons-list {
  margin-top: 20px;
  margin-left: -5px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__list:hover, .btn__list:focus {
  color: #ffffff;
  background-color: var(--akcent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn__order {
  font-family: var(--main-font);
  background-color: var(--akcent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  max-width: 220px;
  max-height: 70px;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__order:hover, .btn__order:focus {
  background-color: #188ce8;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  fill: #ffffff;
  background-color: var(--akcent-color);
}

.adwantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0ch;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  min-width: 170px;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-logotype:hover, .partner-logotype:focus {
  fill: var(--akcent-color);
  border: 1px solid var(--akcent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  -webkit-transition: -webkit-transform 400ms ease-in-out 200ms;
  transition: -webkit-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
          transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid;
  background-color: transparent;
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--akcent-color);
}

.list-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-text {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.register-form-group {
  margin-bottom: 20px;
}

.modal-name-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-name-wrap:last-child {
  margin-bottom: 0;
}

.modal-name {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.register-form-input,
.modal-name-textarea {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 36px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-name-textarea {
  padding-left: 10px;
  resize: none;
  width: 448px;
  height: 120px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
}
.modal-name-textarea:hover, .modal-name-textarea:focus {
  border: 1px solid var(--akcent-color);
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 10px;
  margin: 3px;
}

.register-form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
  color: #2196f3;
}

.modal-name-textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
}

.register-form-agrement-text {
  display: block;
  margin-bottom: 20px;
}

.register-cheked-box {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form-icon-cheked {
  opacity: 0;
}

.register-cheked-box:checked + .register-form .register-form-icon-uncheked {
  opacity: 0;
}

.register-form-icon-cheked {
  fill: var(--akcent-color);
}
.register-cheked-box:checked + .register-form .register-form-icon-cheked {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.register-form-btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.register-form-btn:hover, .register-form-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.input-type {
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
}

.footer-input {
  min-width: 358px;
  min-height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input:focus {
  font-family: var(--main-font);
  color: #f5f4fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 36px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.register-form-input:hover, .register-form-input:focus {
  border: 1px solid var(--akcent-color);
}

.register-form-input:not(:-moz-placeholder-shown) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.register-form-input:not(:-ms-input-placeholder) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.register-form-input:focus + .register-form-icon,
.register-form-input:not(:placeholder-shown) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.subskraibe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-subm {
  position: absolute;
  top: 48px;
  left: 370px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  gap: 10px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-subm:hover, .btn-subm:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */