.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

.logo {
  
    margin-right: 93px;
 
    font-family: var(--sekondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
  
  .logo-cl {
    font-family: var(--sekondary-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--akcent-color);
  }

  img {
    display: block;
  }
  
  .name {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }